 # Data files
*.nii
*.nii.gz

*.pt
# Media files
*.mp4
*.avi
*.jpg
*.png
*.mkv
# Output and cache
results*/
result_llava_socialspeak/
result_llayla_social/
frames/
__pycache__/
frames_c4/
projects data/result_llava_social_speak/
projects data/result_llava_music_exp/
projects data/result_llava_music_exp2/
projects data/result_llava_music_exp10TR/
projects data/face_mark/
projects data/results/Sherlock.S01E01.A.Study.in.Pink.1080p.10bit.BluRay.5.1.x265.HEVC-MZABI.mkv