 # Data files
*.nii
*.nii.gz


# Media files
*.mp4
*.avi
*.jpg
*.png
*.mkv
# Output and cache
results*/
result_llava_socialspeak/
result_llayla_social/
frames/
__pycache__/
frames_c4/
projects data/result_llava_social_speak/
projects data/result_llava_music_exp/
projects data/result_llava_music_exp2/
projects data/result_llava_music_exp10TR/
projects data/face_mark/
projects data/results/