# Data files
*.nii
*.nii.gz
*.csv
*.npy
*.pt
*.pth
*.pkl
*.pkl.gz

# Media files
*.mp4
*.avi
*.mkv
*.jpg
*.png
*.pdf
# Output and cache
__pycache__/
*.log
*.tmp
*.bak
*.html
# Model results and folders
results*/
500days/data/fmri
result_llava_socialspeak/
result_llayla_social/
frames/
frames_c4/

# Project data (mark as directory)
projects data/
projects data/result_llava_social_speak/
projects data/result_llava_music_exp*/
projects data/face_mark/
projects data/results/
projects data/results/*.mkv
